* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section-ball {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
}
